# Docker volumes
mqtt/data/
mqtt/log/
mqtt/watts-serial.txt
homeassistant/.storage/
homeassistant/home-assistant_v2.db
homeassistant/.cloud/
homeassistant/.uuid

# Backup folders
homeauto-backups/

# System files
.DS_Store
*.swp